---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import whitPic from '../../public/whit_pic.png'
import animalFamily from '../../public/animal-family.png'
import barkingBeauties from '../../public/barking-beauties.png'
import milanCreations from '../../public/milan-creations.png'
import SectionHeader from '../components/SectionHeader.astro';
import WebsiteCard from '../components/WebsiteCard.astro';
import SocialIcon from '../components/SocialIcon.astro';
import EmailForm from '../components/EmailForm.astro';
import Timeline from '../components/Timeline.astro';
---

<Layout title="Whit Codes">
	<main class="m-auto p-[1rem] sm:p-[3rem] w-[calc(100svw - 24px)] max-w-[1200px] text-white text-xl">

		<!-- Title/Hero section -->
		<div class="mx-auto flex flex-col-reverse sm:flex-row gap-4 justify-center max-w-[800px] px-4 pb-4">
			<Image loading={"eager"} class="mx-auto sm:mx-0 rounded-3xl border-[4px] border-green-900 h-[375px] w-[300px] sm:h-[250px] sm:w-[200px] object-cover" src={whitPic} alt={"Portrait of Whit Allee"} width={384} height={512}/>
			<div class="flex flex-col justify-center gap-4">
				<h1 class="text-5xl sm:text-5xl">Whit <span class="font-bold text-green-500">codes</span></h1>
				<span class="text-2xl sm:text-2xl italic pb-4">Hey<span class="not-italic">ðŸ‘‹</span>, my name is Whit Allee, and I have a passion for building websites and figuring out how to solve my own problems through programming.</span>
			</div>
		</div>

		<!-- Contact button and email form -->
		<EmailForm/>

		<!-- Websites I've made -->
<!-- ADD TAGS OF TECH USED FOR EACH PROJECT -->
		<SectionHeader title="Websites:" color='bg-green-500'/>
		<div class="grid grid-cols-1 sm:grid-cols-1 gap-6 sm:gap-10 px-2 sm:px-6">
			<WebsiteCard
				websiteLink="https://animal-family.vercel.app/"
				websiteName="Animal FamilyðŸ¦Ž"
				imagePath="/src/assets/animal-family.png"
				altText="Screenshot of Animal Family website"
				color='border-green-900'
				loading='eager'
				description='Tools: Typescript, React, Next.js, Prisma with PostgresQL, Zod'
			/>
			<WebsiteCard
				websiteLink="https://barkingbeauties.netlify.app/"
				websiteName="Barking BeautiesðŸ•"
				imagePath="/src/assets/barking-beauties.png"
				altText="Screenshot of Barking Beauties website"
				color='border-green-900'
				loading='eager'
				description='Tools: Typescript, React, Next.js, Prisma with PostgresQL, Zod'
			/>
			<WebsiteCard
				websiteLink="https://milan-creations-app-fb.web.app/"
				websiteName="Maria Elena by Milan CreationsðŸ’Ž"
				imagePath="/src/assets/milan-creations.png"
				altText="Screenshot of Milan Creations website"
				color='border-green-900'
				loading="lazy"
				description='Tools: Typescript, React, Next.js, Prisma with PostgresQL, Zod'
			/>
		</div>

<!-- ADD CURRENT MILESTONES SECTION -->
		<SectionHeader title="My Journey:" color='bg-green-500'/>
		<!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

		</div> -->
		<Timeline/>

		<!-- Socials -->
<!-- ADD MY @s FOR EACH SOCIAL -->
		<SectionHeader title="Socials:" color='bg-green-500'/>
		<div class="flex flex-col gap-4 w-full justify-center px-6">
			<SocialIcon atDesc='linkedin.com/in/whit-allee-web-developer/' socialLink='https://www.linkedin.com/in/whit-allee-web-developer/' imagePath='/src/assets/icons8-linkedin-48.png' altText="Link to Whit's LinkedIn"/>
			<SocialIcon atDesc='github.com/whitallee' socialLink='https://github.com/whitallee' imagePath='/src/assets/icons8-github-50.png' altText="Link to Whit's Github"/>
			<SocialIcon atDesc='@AlleeWhit' socialLink='https://x.com/AlleeWhit' imagePath='/src/assets/icons8-twitterx-48.png' altText="Link to Whit's X/Twitter"/>
			<SocialIcon atDesc='@whit_allee' socialLink='https://www.instagram.com/whit_allee/' imagePath='/src/assets/icons8-instagram-48.png' altText="Link to Whit's Instagram"/>
		</div>


<!-- ADD WIP SECTION -->
		<!-- <SectionHeader title="Works In Progress:" color='bg-green-500'/>
		<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

		</div> -->
	</main>
</Layout>
