---
interface Props {
	title: string;
    color: string;
}

const { title, color } = Astro.props;
---

    <h2 class="text-4xl sm:text-4xl pt-20 sm:pt-16">{title}</h2>
	<div class={color + " w-full h-2 mb-10 sm:mb-4 rounded-full"}></div>
